<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <ul>
        <li>Open your reminal and pip install requests</li>
        <li>Create a python file and import requests
            import json
            from requests.auth import HTTPBasicAuth</li>
        <li>Also from datetime import datetime
            import base64</li>
        <li>Create a class and define consumer key and secret</li>
        <li>Generate access token and reference the credintials above</li>
        <li>Create another class Password</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
  </body>
</html>